/*--=========Google fonts=========--*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*====CSS variables==== */

body {
    background-color:#f0f2ea ;
    margin: 0px;
}
a {
    font-family: 'Poppins';
    text-decoration: none;
    color: black;
}
a:hover {
    color:#8600fe;
    opacity: 80%;
}
ul{
    list-style-type: none;
}

h1 {
    font-size: 60px;
    font-family: 'Poppins';
    text-align: center;
    padding: 0% 5%;
}
p {
    font-size: 16px;
    font-family: 'Poppins';
}

/*--=========Global class=========--*/

.Read_more {
    background: black;
    border: none;
    border-radius: 30px;
    padding: 8px;
    font-family: 'Poppins';
    font-size: 18px;
    color: white;
}
.brand_logo {
    height: 120px;
}

/*--=========Nav bar=========--*/

.nav_menu_flex_row {
    background-color:none;
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav_links {
    display: flex;
    margin: 70px 0px;
    padding: 0px;
    align-items: center;
}

li {
    font-family: 'Poppins';
    padding: 10px;
    font-size: 18px;
    display: inline-block;
}
.social_icon {
    font-size: 30px;
    font-family: 'Poppins';
    margin-top: 70px;
    padding-left: 3%;
    padding-right: 5%;
}
.nav_brand{
    margin-top:25px;
    margin-left: 0px;
    font-size: 30px;
    padding-left: 5%;
    flex-grow: 1;
}

/*--=========Body=========--*/
.Post_contents {
    display: grid;
    grid-template-rows: auto;
    margin-bottom: 0%;
}
.Post_tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Post_tag ul {
    margin: 0px;
    padding: 0px;
}
.Post_tag i {
    padding: 0px;
    font-size: 15px;
}
.Post_tag li {
    padding: 0px;
    padding-right: 10px;
    font-size: 18px;
}
.img_1 {
    height: 450px;
    margin: 2% 10%;
    margin-bottom: 0%;
    border: 0px solid black;
    border-radius: 20px;
}
.Post_illustration {
    text-align: center;
}
.Para_1 {
    margin: 6% 20%;
    margin-top: 0%;
}
/*--=========navigation to next page=========--*/
.Next_Previous_Post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 20%;
}
.Next_Previous_Post i {
    font-size: 16px;
}
.Next_Previous_Post a {
    font-size: 25px;
    font-weight: bold;
}
.Recent_blog {
    margin: 5% 20%;
}
.Recent_blog h2 {
    font-family: 'Poppins';
    font-size: 35px;
}
.Recent_blog ul {
    padding: 0%;
    display: flex;
    flex-direction: column;
}
.Recent_blog li {
    padding: 0%;
    padding-bottom: 2%;
    font-size: 20px;
}
.Recent_blog span {
  opacity: 50%;
  font-size: 15px;
}

/*--=========Footer=========--*/

.footer {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px;
    justify-content: space-between;
    background-color: #e0ddd6;
}
.footer_para {
    margin-top: 30px;
}
.Copy_R {
    align-self: flex-end;
    flex-grow: 2;
    text-align: end;
}


@media screen and (max-width: 1100px) {
    /*--======Nav=====--*/
    h1 {
        font-size: 35px;
        text-align: center;
    }
    .Read_more {
        font-size: 12px;
    }
    .nav_menu_flex_row {
        display: flex;
        flex-direction: column;
    }
    .nav_links {
        display: flex;
        flex-direction: column;
        margin: 10px 62px;
    }
    .social_icon {
        margin: 0px;
        margin-bottom: 20px;
        padding:0px;
        text-align: center;
    }
    .nav_brand {
        padding:0px;
        text-align: center;
    }
    /*--======Body=====--*/
    .Post_contents {
        display: grid;
        grid-template-rows: auto;
        margin-bottom: 0%;
    }

    .img_1 {
        height: 320px;
        width: auto;
        margin: 5% 10%;
        margin-bottom: 0px;
        justify-self: center;
        border: 0px solid black;
        border-radius: 20px;
    }
}

@media screen and (max-width: 767px) {
    p {
        font-size: 12px;
    }
   .Post_contents {
        display: grid;
        grid-template-rows: auto;
        margin-bottom: 0%;
    }
    .img_1 {
        height: 320px;
        width: auto;
        margin: 5% 10%;
        margin-bottom: 0px;
        justify-self: center;
        border: 0px solid black;
        border-radius: 20px;
    }
    .Post_tag {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .Post_tag ul {
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
}

@media screen and (max-width: 480px) {
    
    p {
        font-size: 12px;
    }
    h1 {
        font-size: 20px;
        text-align: center;
    }
    .Post_contents {
        display: grid;
        grid-template-rows: auto;
        margin-bottom: 0%;
    }
    .img_1 {
        height: 180px;
        width: auto;
        margin: 5% 10%;
        margin-bottom: 0px;
        justify-self: center;
        border: 0px solid black;
        border-radius: 20px;
    }
    .Post_tag {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .Post_tag i {
        padding: 0px;
        font-size: 10px;
    }
    .Post_tag li {
        padding: 0px;
        padding-right: 10px;
        font-size: 10px;
    }
    .Next_Previous_Post i {
        font-size: 10px;
    }
    .Next_Previous_Post a {
        font-size: 10px;
        font-weight: bold;
    }
    .Recent_blog h2 {
        font-family: 'Poppins';
        font-size: 20px;
    }
    .Recent_blog ul {
        padding: 0%;
        display: flex;
        flex-direction: column;
    }
    .Recent_blog li {
        padding: 0%;
        padding-bottom: 2%;
        font-size: 15px;
    }
    .Recent_blog span {
      opacity: 50%;
      font-size: 15px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}



